//colors
$primary: #21cbf3;
$secondary: #2196f3;
$black: #202020;
$light-silver: #f8f8f8;
$dark-silver: #a7a7a7;
$blue-bg: linear-gradient(45deg, $secondary 30%, $primary 90%);
$silver-bg: linear-gradient(45deg, $light-silver 30%, white 90%);

//margins
$message-content-side-m: 10px;
