@import '~antd/dist/antd.css';
@import '~reset-css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body, #root, .wrapper {
  height: 100%;
  color: #202020;
  font-family: 'Montserrat', -apple-system, sans-serif !important;
  font-size: 14px;
}
