@import '~styles/variables';

.chat {
    display: flex;
    height: 100vh;

    &__active-dialog {
        display: flex;
        flex-direction: column;
        flex: 1;

        &__messages-section {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
            border-top: 1px solid $light-silver;
            border-left-width: 0;
            padding: 0 20px;
            overflow-y: auto;
            background: $light-silver;
            box-shadow: inset 5px 0px 5px rgba($dark-silver, 0.2);
        }

        &__footer {
            box-shadow: 0 -5px 5px rgba(167, 167, 167, 0.2);
            z-index: 5;
            display: flex;
        }
    }
}
