@import '~styles/variables';


.chat__active-dialog__footer {

  .image-attach {
    cursor: pointer;

    &:hover {
      .ui.icon.button {
        background: $primary;
      }
    }
  }

  .ui.icon.button {
    background: lighten($primary, 30%);
    transition: background-color .1s ease !important;
    margin: 0;
    border-radius: 0;
  }

  .ui.icon.button {
    &:hover {
      background: $primary;
    }
  }

  .send-message {
    background: $primary !important;

    &:hover {
      background: darken($primary, 5%) !important;
    }

    i {
      color: white !important;
    }
  }

  .input {
    flex: 1;

    input {
      border-radius: 0 !important;
      border: none !important;
      height: fit-content;
    }
  }

  .emoji-block {
    position: relative;

    .emoji-mart {
      position: absolute;
      top: -430px;
      right: 5px;
    }
  }
}

