@import '~styles/variables';


.chat__active-dialog__footer {
  .ui.icon.button {
    background: lighten($primary, 30%);
    transition: background-color .15s ease-in-out !important;
    margin: 0;
    border-radius: 0;

    &:hover {
      background: lighten($primary, 10%);
    }
  }

  .input {
    flex: 1;

    input {
      border-radius: 0 !important;
      border: none !important;
      height: fit-content;
    }
  }
}

