@import '~styles/variables';

.message {
  $self: &;

  display: flex;
  max-width: 440px;
  margin-bottom: 15px;

  &__content {
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
  }

  &__avatar {
    display: flex;
    align-items: flex-end;
    margin-bottom: 23px;
    margin-right: $message-content-side-m;

    img {
      border-radius: 50px;
      width: 32px;
      height: 32px;
    }
  }

  &__bubble {
    background: $orange;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0;
    border: 1px solid darken($orange, 5%);
    padding: 15px;
    margin-bottom: 8px;
  }

  &__text {
    color: white;
    line-height: 20px;
  }

  &__attachments {
    &-item {
      width: 40px;
      border-radius: 5px;
      margin: 0 2px 10px;
      cursor: pointer;
    }
  }

  &__date {
    font-size: 12px;
    opacity: .5;
  }

  &--is-me {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      align-items: flex-end;
    }

    #{$self}__avatar {
      margin-right: 0;
      margin-left: $message-content-side-m;
    }

    #{$self}__bubble {
      background: $light-silver;
      border: 1px solid darken($light-silver, 5%);
      box-shadow: 0 5px 5px rgba(154, 154, 154, 0.2);
      border-radius: 12px 12px 0 12px;

      #{$self}__text {
        color: $black;
      }
    }

    #{$self}__info {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
    }

    #{$self}__svg-wrapper {
      /*width: 30px;*/
      margin-right: $message-content-side-m;
      margin-bottom: 10px;

      #{$self}__checked-svg.read {
        g {
          fill: darken($orange, 10%);
        }
      }
    }
  }
}

